h1 {
  color: aquamarine;
  background-color: black;
  width: 730px;
  margin: 10px auto;
  height: 75px;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}
.blog {
  background-color: coral;
  color: cornsilk;
  width: 600px;
  height: 300px;
  border: 25px solid yellow;
  border-radius: 15px;
  margin: 10px auto;
  padding: 50px;
}
